*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

img {
    width: 100%;
}

body {
    width: 90%;
    margin: auto;
}

.container {
    padding: 10px 0px;
}

.left-nav {
    float: left;
}

/* .right-nav {
    float: right;
} */

header {
    clear: both;
}

input#menu-icon-input {
    display: none;
}

label#menu-icon {
    display: none;
}

.nav-items ul {
    list-style-type: none;
    display: inline-flex;
}

.nav-items ul a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

div.nav-items {
    wdth: 50%;
    margin-left: 50px;
}

.nav-items ul.center a {
    text-align: left;
    
}